@using BrunoTheBot.CoreBusiness.Entities.Quiz.DTO
@using Microsoft.AspNetCore.Components

@if (questionDTO != null)
{
    <h4>
        @(1 + Number) - @questionDTO.Question!.Name
    </h4>
    @foreach (var option in questionDTO.OptionsDTO)
    {
        <div @onclick="() => SelectOption(option)">
                <h6 @onclick="() => option.IsSelected = true" class="option @(option.IsSelected ? "selected" : "")">
                @letters[questionDTO.OptionsDTO.IndexOf(option)] @option.Name
            </h6>
        </div>
    }
}

@code
{
    [Parameter]
    public QuestionDTO? questionDTO { get; set; }
    [Parameter]
    public int Number { get; set; }
    private string[] letters = { "A)", "B)", "C)", "D)", "E)", "F)" };

    private void SelectOption(OptionDTO option)
    {
        foreach (var opt in questionDTO!.OptionsDTO)
        {
            opt.IsSelected = (opt == option);
        }
    }
}

<style>
    .option {
        cursor: pointer;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .selected {
        background-color: #cce5ff;
        color: #004085;
    }
</style>
