@using BrunoTheBot.Blazor.Client.APIServices.Responses
@using BrunoTheBot.Blazor.Client.APIServices.Shots
@using BrunoTheBot.CoreBusiness.CodeEntities
@using BrunoTheBot.CoreBusiness.Entities.Quiz
@using BrunoTheBot.CoreBusiness.Entities.Quiz.DTO
@using Microsoft.AspNetCore.Components

@inject ShotsService ShotsService

@if (questionDTO != null)
{
    <h4>
        @(1 + Number) - @questionDTO.Question!.Name
    </h4>
    @foreach (var option in questionDTO.OptionsDTO)
    {
        <h6 @onclick="() => SelectOption(option)" class="option @(option.IsSelected ? "selected" : "")">
            @letters[questionDTO.OptionsDTO.IndexOf(option)] @option.Name
        </h6>
    }
}

@code
{
    [Parameter]
    public QuestionDTO? questionDTO { get; set; }
    [Parameter]
    public int Number { get; set; }
    [Parameter]
    public Guid responseGuid { get; set; }

    private string[] letters = { "A)", "B)", "C)", "D)", "E)", "F)" };

    private async void SelectOption(OptionDTO selectedOption)
    {
        if (selectedOption.IsSelected) return;

        foreach (var regularOption in questionDTO!.OptionsDTO)
        {
            regularOption.IsSelected = (regularOption == selectedOption);
        }

        var deleteTasks = questionDTO.OptionsDTO
            .Where(opt => opt != selectedOption)
            .Select(opt => ShotsService.DeleteShotAsync(opt.Id, responseGuid))
            .Cast<Task>()
            .ToList();

        var createTask = ShotsService.CreateShotAsync(selectedOption.ConvertToShot(responseGuid));

        deleteTasks.Add(createTask);

        await Task.WhenAll(deleteTasks);
    }

    private async Task<Shot> GetShotById(Guid shotId)
    {
        try
        {
            var result = await ShotsService.GetShotByIdAsync(shotId);
            if (result.Status == CustomStatusCodes.ErrorStatus) throw new Exception("ERROR DURING GETTING SHOT");
            else if (result.Status == CustomStatusCodes.NotFound) return null!;
            else if (result.Status == CustomStatusCodes.SuccessStatus) return result.Data;
            return null!;
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    private async Task RecoverShotsAsync()
    {
        var count = 0;
        Console.WriteLine("Initial: " + count);
        var result = await ShotsService.GetShotsByResponseIdAsync(responseGuid);
        Console.WriteLine(result.Data.Count);

        if (result.Status == CustomStatusCodes.SuccessStatus)
        {
            foreach (var option in questionDTO!.OptionsDTO)
            {
                foreach (var shot in result.Data)
                {
                    if (option.Id == shot.OptionId)
                    {
                        option.IsSelected = true;
                        count++;
                    }
                }
            }
        }
        Console.WriteLine("Final: " + count);
    }

    protected override async Task OnParametersSetAsync()
    {
        await RecoverShotsAsync();
        await base.OnParametersSetAsync();
    }

}

<style>
    .option {
        cursor: pointer;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .selected {
        background-color: #cce5ff;
        color: #004085;
    }
</style>
