@page "/Games/Arcade/{TestId}"
@page "/Games/Arcade/{TestId}/{admin:bool?}"
@page "/Games/Arcade/{TestId}/{amount}"
@page "/Games/Arcade/{TestId}/{amount}/{admin:bool?}"



@using Quiztle.Blazor.Client.Pages.Games.Components
@using Quiztle.CoreBusiness.Entities.Quiz.DTO
@using Quiztle.CoreBusiness.Utils

@inject GetQuestionsService GetQuestionsService

<title>
    @if (_title != null)
        @_title

</title>

<div>
    <div style="padding-bottom:80px;">
        @if (_testDTO.QuestionsDTO != null)
        {
            <h1>@_testDTO.Name</h1>

            @foreach (var questionDTO in _testDTO.QuestionsDTO)
            {
                <QuestionDTOArcadeComponent ShowResults="ShowResults"
                                            questionDTO="questionDTO"
                                            Number="@_testDTO.QuestionsDTO.IndexOf(questionDTO)"
                                            Admin="@Admin">
                </QuestionDTOArcadeComponent>
            }
        }
    </div>
    <div class="fixed-bottom-container">
        @if (!ShowResults)
        {
            <button class="btn btn-primary w-100 d-flex align-items-center justify-content-center" @onclick="() => FinalizeTestResponse()">
                <h3 class="mb-0">
                    @_buttonText
                </h3>
            </button>
        }
        @if (ShowResults)
        {
            <div style="background-color: mintcream;">

                @if (_testDTO.QuestionsDTO!.Count > 1)
                {
                    <h4>
                        You got @_testDTO.GetTotalCorrectAnswers() out of @_testDTO.QuestionsDTO!.Count questions correct
                    </h4>
                }
                <button class="btn btn-primary w-100 d-flex align-items-center justify-content-center" @onclick="() => NextQuestion()">
                    <h3 class="mb-0">
                        Next
                    </h3>
                </button>
            </div>
        }
    </div>
</div>

@code {
    private int _totalSelectedAnswers = 0;
    private string _title = "Quiztle";

    [Parameter]
    public string TestId { get; set; } = "";
    [Parameter]
    public string amount { get; set; } = "";
    [Parameter]
    public bool Admin { get; set; } = false;

    private TestDTO _testDTO = new();
    private Response? _response;
    private Guid _testGuid = new Guid();
    private string _buttonText = "FINISH";

    private bool _showResults = false;
    public bool ShowResults
    {
        get => _showResults;
        set
        {
            if (_showResults != value)
            {
                _showResults = value;
            }
        }
    }

    private void NextQuestion()
    {
        Nav.NavigateTo($"/Games/Arcade/{_testGuid}/{_testDTO.QuestionsDTO!.Count}/{Admin}", true);
    }


    private void FinalizeTestResponse()
    {
        if (IsAllQuestionsAnswered()) ShowResults = true;
        if (!IsAllQuestionsAnswered()) _buttonText = $"Complete all questions";
    }

    private bool IsAllQuestionsAnswered()
    {
        if (_testDTO.QuestionsDTO.Count == _testDTO.GetTotalSelectedAnswers()) return true;
        return false;
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadTestAsync();
        await base.OnParametersSetAsync();
    }
    private async Task LoadTestAsync()
    {
        try
        {
            if (TestId == "00000")
            {
                var result = await GetQuestionsService.ExecuteAsync();
                if (result == null) return;

                var test = new Test();
                test.Name = "All Questions";
                test.Questions = result.Data.ToList();

                _testDTO.FromTest(test);
            }
            else if (!Guid.TryParse(TestId, out Guid testIdGuid))
            {
                Nav.NavigateTo("/", true);
            }
            else
            {
                _testGuid = Guid.Parse(TestId);
                var testAPIReponse = await GetTestByIdService.ExecuteAsync(testIdGuid);
                if (testAPIReponse.Status != CustomStatusCodes.SuccessStatus)
                    throw new Exception("TestGame: Error during retrieving TestApiResponse");

                _testDTO.FromTest(testAPIReponse.Data);
                _title = testAPIReponse.Data.Name;

                var amount = 0;
                if (int.TryParse(this.amount, out amount))
                {
                    _testDTO.SetQuestionsAmount(amount);
                }
            }
        }
        catch (Exception ex)
        {
            // Handle exception or log it
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}

<style>
    .fixed-bottom-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px; /* Ajuste conforme necessário para o espaçamento */
        background-color: #fff; /* Opcional: Adiciona um fundo branco para o botão */
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Opcional: Adiciona uma sombra para destaque */
    }

    .btn {
        border-radius: 0; /* Opcional: Remove a borda arredondada para um estilo mais reto */
    }

</style>