@page "/Games/Arcade/{TestId}"

@using Microsoft.AspNetCore.Authorization
@using Quiztle.Blazor.Client.APIServices.Tests
@using Quiztle.CoreBusiness.Entities.Performance
@using Quiztle.CoreBusiness.Entities.Quiz.DTO
@using Quiztle.CoreBusiness.Utils
@using Quiztle.Frontend.Client.APIServices.Performance
@using Quiztle.Frontend.Client.Utils;

@inject GetQuestionsService GetQuestionsService
@inject GetDraftByIdService GetTestByIdService
@inject AddTestPerformanceService AddTestPerformanceService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject GetUserInfos GetUserInfos

@rendermode InteractiveAuto
@attribute [Authorize]

<title>
    @if (_title != null)
        @("certcool - " + _title)
</title>

@if (_showFinalScreen)
{
    <FinalScreenComponent Title="Azure AZ-900 Fundamentals"
                          Score="@_testDTO.GetTotalCorrectAnswers()"
                          QuestionsAmount="200"
                          TotalQuestions="@_testDTO.QuestionsDTO.Count()">
    </FinalScreenComponent>
}

@if (_testDTO.QuestionsDTO.Count >= 1)
{
    <MudContainer MaxWidth="MaxWidth.Medium">
        <div class="main-div">
            <div style="padding-bottom:80px;">
                @if (_testDTO.QuestionsDTO != null)
                {
                    <div class="d-flex justify-content-center align-items-center text-center">
                        <div class="me-3 p-3">

                            @if (_testDTO.ShieldSVG == null)
                            {
                                <img src="img/courses/default.svg" style="width: 100px; height: 100px;" />
                            }
                            else
                            {
                                <img src="img/courses/@_testDTO.ShieldSVG" style="width: 100px; height: 100px;" />
                            }

                        </div>
                        <div style="padding: 10px 10px;">
                            <h1>
                                @_testDTO.Name
                            </h1>
                            <h3>
                                @(_testDTO.QuestionsDTO.Count + " questions")
                            </h3>
                        </div>
                    </div>

                    @foreach (var questionDTO in _testDTO.QuestionsDTO)
                    {
                        var index = _testDTO.QuestionsDTO.IndexOf(questionDTO);
                        <QuestionDTOArcadeComponent ShowResults="ShowResults"
                                                    questionDTO="questionDTO"
                                                    Number="@index"
                                                    IsFinished="questionDTO.IsFinished"
                                                    OnGetAnswer="@(() => HandleGetAnswer(questionDTO))"
                                                    OnSelectAnswer="@(() => HandleSelectAnswer())">
                        </QuestionDTOArcadeComponent>
                    }
                }
            </div>
            <div class="fixed-bottom-container">

                <ProgressBar @ref=progressBar
                             TotalQuestions="@_testDTO!.QuestionsDTO!.Count"
                             AnsweredQuestions="@_testDTO.GetTotalSelectedOrFinishedQuestions()" />

                @if (!ShowResults)
                {
                    bool disabledFinishButton = (_testDTO.GetTotalSelectedOrFinishedQuestions() != _testDTO.QuestionsDTO.Count);

                    <button disabled="@(disabledFinishButton ? "disabled" : null)"
                            class="btn btn-primary w-100 d-flex align-items-center justify-content-center" @onclick="FinalizeTestResponse">
                        <h3 class="mb-0">
                            FINISH (@_testDTO.GetTotalSelectedOrFinishedQuestions() of @_testDTO.QuestionsDTO.Count)
                        </h3>
                    </button>
                }

                @if (ShowResults)
                {
                    <div style="background-color: mintcream;">
                        <button class="btn btn-primary w-100 d-flex align-items-center justify-content-center" @onclick="() => PlayAgain()">
                            <h3 class="mb-0">
                                Next Game
                            </h3>
                        </button>
                    </div>
                }
            </div>
        </div>
    </MudContainer>
}

@if (_testDTO!.QuestionsDTO!.Count < 1)
{
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
        @if (_testDTO!.QuestionsDTO!.Count < 1)
        {
            <h4>
                <img src="gif/Rocket.gif" style="width: 100px; height: 100px;" />
                <br />
                LOADING...
            </h4>
        }
    </div>
}

@code {
    ProgressBar progressBar = new();

    private string _title = "Quiztle";

    [Parameter]
    public string TestId { get; set; } = "";

    private TestDTO _testDTO = new();
    private Guid _testGuid = new Guid();
    private bool _showFinalScreen = false;

    private bool _showResults = false;
    public bool ShowResults
    {
        get => _showResults;
        set
        {
            if (_showResults != value)
            {
                _showResults = value;
            }
        }
    }

    private void HandleGetAnswer(QuestionDTO questionDTO)
    {
        questionDTO.IsFinished = true;
        progressBar.AnsweredQuestions = _testDTO.GetTotalSelectedOrFinishedQuestions();
        StateHasChanged();
    }

    private void HandleSelectAnswer()
    {
        progressBar.AnsweredQuestions = _testDTO.GetTotalSelectedOrFinishedQuestions();
        StateHasChanged();
    }

    private void PlayAgain()
    {
        try
        {
            Nav.NavigateTo($"/Games/Arcade/{_testGuid}");
        }
        catch
        {
            Nav.NavigateTo($"/Games/Arcade/");
        }
    }

    private async Task FinalizeTestResponse()
    {
        await AddTestPerformance();
        ShowResults = true;
        _showFinalScreen = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await LoadTestAsync();
        StateHasChanged();
    }

    private async Task LoadTestAsync()
    {
        try
        {
            _testGuid = Guid.Parse(TestId);
            var testAPIReponse = await GetTestByIdService.ExecuteAsync(_testGuid);

            if (testAPIReponse.Status != CustomStatusCodes.SuccessStatus)
                throw new Exception("TestGame: Error during retrieving TestApiResponse");

            _testDTO.FromTest(testAPIReponse.Data);
            _title = testAPIReponse.Data.Name;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private async Task AddTestPerformance()
    {
        var userId = await GetUserInfos.GetUserId();

        var testPerformance = _testDTO.CreateTestPerformance(userId);

        await AddTestPerformanceService.ExecuteAsync(testPerformance);
    }
}