@rendermode InteractiveAuto

@if (_showLeaveAlert)
{
    <MudContainer>
        <MudContainer
            Style="background-color: rgba(0, 0, 0, 0.05);
            margin-top: 15px;
            padding: 15px;
            border-radius: 15px;
            justify-items: center;
        ">
            <MudAlert
                Style="margin: 20px 10px"
                Severity="Severity.Info"
                Variant="Variant.Outlined"
                ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(true))">
                <h5 style="font-weight: 700">
                    You are using the free version, which offers a limited number of questions.
                </h5>
                <hr/>
                <h6>
                    The paid version offers:
                    <h6>
                        <MudIcon Icon="@Icons.Material.Filled.CalendarToday" Size="Size.Small"/>
                        Two years of duration,
                    </h6>
                    <h6>
                        <MudIcon Icon="@Icons.Material.Filled.QuestionAnswer" Size="Size.Small"/>
                        Hundred more questions,
                    </h6>
                    <h6>
                        <MudIcon Icon="@Icons.Material.Filled.Assessment" Size="Size.Small"/>
                        Detailed progress tracking,
                    </h6>
                    <h6>
                        <MudIcon Icon="@Icons.Material.Filled.AddCircle" Size="Size.Small"/>
                        And additional features to enhance your learning experience.
                    </h6>
                </h6>
            </MudAlert>
            <button class="btn btn-primary btn-lg m-3" @onclick="GetPremium">
                Get Premium for $4.99
                <MudIcon Icon="@Icons.Material.Filled.RocketLaunch" Size="Size.Medium"/>
            </button>
        </MudContainer>
    </MudContainer>
}

@code
{
    private bool _showLeaveAlert = true;

    [Parameter] public string? TestId { get; set; }
    [Parameter] public string? Price { get; set; }

    private void CloseMe(bool value)
    {
        if (value)
        {
            _showLeaveAlert = false;
        }
    }

    private Task GetPremium()
    {
        Nav.NavigateTo($"/Buy/TestId/{TestId}");

        return Task.CompletedTask;

        // throw new NotImplementedException();
    }
}