<div>
    <MudChart
        ChartType="ChartType.StackedBar"
        ChartSeries="@Series"
        @bind-SelectedIndex="Index"
        LegendPosition="@LegendPosition"
        XAxisLabels="@XAxisLabels"
        Width="100%" Height="350px">
    </MudChart>
</div>

<MudText Typo="Typo.h6">Selected portion of the chart: @Index</MudText>

<div>
    <MudRadioGroup T="Position" @bind-Value="LegendPosition">
        <MudRadio Value="@(Position.Bottom)" Color="Color.Primary">Bottom</MudRadio>
        <MudRadio Value="@(Position.Top)" Color="Color.Primary">Top</MudRadio>
        <MudRadio Value="@(Position.Left)" Color="Color.Primary">Left</MudRadio>
        <MudRadio Value="@(Position.Right)" Color="Color.Primary">Right</MudRadio>
        <MudRadio Value="@(Position.Start)" Color="Color.Primary">Start</MudRadio>
        <MudRadio Value="@(Position.End)" Color="Color.Primary">End</MudRadio>
    </MudRadioGroup>
</div>

@code {
    [Parameter] public List<double> Scores { get; set; } = new();
    [Parameter] public List<DateTime> Dates { get; set; } = new();

    private int Index = -1; 

    private Position LegendPosition = Position.Bottom;

    public List<ChartSeries> Series = new List<ChartSeries>();

    public string[] XAxisLabels = { };

    protected override void OnInitialized()
    {
        Series.Add(new ChartSeries
            {
                Name = "Score",
                Data = Scores.ToArray()
            });

        XAxisLabels = Dates.Select(d => d.ToString("dd/MM")).ToArray();
    }
}
