<div class="performance-bar">
    @if (showTitle)
    {
        <h3 class="bar-title">@title</h3>
    }
    <div class="bar-container" style="@GetBarContainerStyle()">
        @if (goodNumber > 0 || badNumber > 0) // Verifica se pelo menos um dos números é maior que zero
        {
            double good = goodNumber;
            double bad = badNumber;
            double total = good + bad;

            double goodPercentage = total > 0 ? (good / total) * 100 : 0;
            double badPercentage = total > 0 ? (bad / total) * 100 : 0;

            <div class="good-bar" style="@GetGoodBarStyle(goodPercentage)"></div>
            <div class="bad-bar" style="@GetBadBarStyle(badPercentage)"></div>
        }
        else
        {
            <div>No valid data to display.</div>
            // Opcional: mensagem caso não haja dados válidos
        }
    </div>

    @if (showFinalScore && (goodNumber > 0 || badNumber > 0))
    {
        <span class="final-score text-center">@goodNumber / @badNumber</span>
    }
</div>

@code {
    [Parameter]
    public string? text { get; set; } = "";

    [Parameter]
    public int goodNumber { get; set; } = 50;

    [Parameter]
    public int badNumber { get; set; } = 50;

    [Parameter]
    public int heightBar { get; set; } = 25;

    [Parameter]
    public string badColor { get; set; } = "#FF0000";

    [Parameter]
    public string goodColor { get; set; } = "#0000FF";

    [Parameter]
    public bool showText { get; set; } = true;

    [Parameter]
    public bool showBadNumberLiteral { get; set; } = false;

    [Parameter]
    public bool showGoodNumberLiteral { get; set; } = false;

    [Parameter]
    public bool showTitle { get; set; } = false;

    [Parameter]
    public string title { get; set; } = "Performance Title";

    [Parameter]
    public bool showGoodNumber { get; set; } = true;

    [Parameter]
    public bool showBadNumber { get; set; } = true;

    [Parameter]
    public bool showFinalScore { get; set; } = true;

    private string GetBarContainerStyle()
    {
        return GetSafeStyle($"height: {heightBar}px;");
    }

    private string GetGoodBarStyle(double goodPercentage)
    {
        return GetSafeStyle($"width: {goodPercentage}%; background-color: {goodColor};");
    }

    private string GetBadBarStyle(double badPercentage)
    {
        return GetSafeStyle($"width: {badPercentage}%; background-color: {badColor};");
    }

    private string GetSafeStyle(string style)
    {
        if (string.IsNullOrWhiteSpace(style))
        {
            return string.Empty;
        }

        var styles = style.Split(';')
                          .Select(s => s.Trim())
                          .Where(s => !string.IsNullOrEmpty(s) && s.Contains(':'))
                          .ToList();

        return string.Join(';', styles) + (styles.Any() ? ";" : string.Empty);
    }
}
