@page "/TestPerformances"
@rendermode InteractiveAuto

@using Microsoft.AspNetCore.Authorization
@using Quiztle.CoreBusiness.DTOs
@using Quiztle.CoreBusiness.Entities.Performance
@using Quiztle.Frontend.Client.APIServices.Performance
@using Quiztle.Frontend.Client.Utils

@inject GetUserInfos GetUserInfos
@inject GetTestPerformancesByUserIdService GetTestPerformancesByUserIdService
@attribute [Authorize]

@if (_testPerformances != null)
{
    <div class="full-screen-container">
        <h1 class="greeting">
            Hi, @GetUserInfos.GetUserNameOrEmail().Result! You had @_setGroupedTestPerformanceDTO.GetTotalPerformances() Tests!
        </h1>
        <div class="test-performances-container">
            @foreach (var groupedPerformances in _setGroupedTestPerformanceDTO.GroupedPerformances)
            {
                <div class="performance-card">

                    <div class="card-content">
                        <h2 class="test-name">
                            @groupedPerformances.TestName
                        </h2>
                        <h4 class="test-count">
                            Total Practices : @groupedPerformances.Performances.Count()
                        </h4>
                        <h4 class="average-performance">
                            Overview performance:
                            @groupedPerformances.TotalHits() of @groupedPerformances.TotalProbla(): @groupedPerformances.MediaScore().ToString("00.00")%
                        </h4>

                        <PerformanceBarComponent
                            heightBar="15"
                            goodNumber="@groupedPerformances.TotalHits()"
                                                 badNumber="@groupedPerformances.TotalMiss()"
                            showFinalScore="false"
                        >

                        </PerformanceBarComponent>

                        @foreach (var testPerformance in groupedPerformances.Performances)
                        {
                            <div class="test-performance-card">

                                <div class="text-center">
                                    <h6>
                                        @testPerformance.CorrectAnswers of @testPerformance.TotalOptions(): @testPerformance.Score%
                                    </h6>
                                    <span>
                                        @testPerformance.Created.ToString("dd/MM HH:mm")
                                    </span>
                                </div>

                                @foreach (var report in testPerformance.ReportsByTag())
                                {

                                    <div class="performance-card">
                                        <PerformanceBarComponent goodNumber="@report.CorrectAmount"
                                                                 badNumber="@report.IncorrectAmount"
                                                                 showText="true"
                                                                 title="@report.Tag"
                                                                 showTitle="true"
                                                                 showBadNumber="true"
                                                                 showGoodNumber="true"
                                                                 showFinalScore="true"
                                                                 heightBar="10"></PerformanceBarComponent>
                                    </div>
                                }
                            </div>
                        }
                    </div>



                    <div class="card-actions">
                        <button class="learn-more-btn">Learn More</button>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    private IEnumerable<TestPerformance> _testPerformances = [];
    private SetGroupedPerformancesDTO _setGroupedTestPerformanceDTO = new();

    private string _userId = "";

    protected override async Task OnInitializedAsync()
    {
        _userId = await GetUserInfos.GetUserId();
        _testPerformances = await GetTestPerformancesByUserIdService.ExecuteAsync(Guid.Parse(_userId));
        _setGroupedTestPerformanceDTO.GroupAndFill(_testPerformances);
    }
}