@using Quiztle.Blazor.Client.APIServices.Tests
@using Quiztle.Frontend.Client.APIServices.StripeService
@using Quiztle.Frontend.Client.Utils

@inject GetUserInfos GetUserInfos
@inject StripeCustomerService StripeCustomerService
@inject GetAllTestsService GetAllTestsService

@rendermode InteractiveAuto

@page "/Courses"

<div class="container d-flex flex-wrap justify-content-evenly main-div">

    @foreach (var test in Tests)
    {
        <PremiumCourseCard
            Title="@test.Name"
            Image="@test.ShieldSVG"
            QuestionsAmount="@test.Questions.Count"
            Contents="test.GetTagsSet()"
            Enabled="@test.IsAvaiable"
            PriceId="@test.PriceId"
            TestId="@test.Id.ToString()">
        </PremiumCourseCard>
    }

</div>

@code {
    IEnumerable<Test> Tests = [];

    protected override async Task OnParametersSetAsync()
    {
        var result = await GetAllTestsService.ExecuteAsync(true, true);
        Tests = result.Data;
    }

}