@page "/Games/Regular/{bookId}"
@page "/Games/Regular/"
@using BrunoTheBot.Blazor.Client.APIServices.RegularGame
@using BrunoTheBot.CoreBusiness.Entities.Exam
@using BrunoTheBot.CoreBusiness.Entities.Quiz.DTO
@using BrunoTheBot.Blazor.Client.Pages.Games.Components

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Nav
@inject GetAllQuestionsToRegularGame GetAllQuestionsFromBookService

<p>
    count: @regularExam.Questions.Count
</p>
<p>
    answered: @regularExam.TotalQuestionsAnswered()
</p>


<FinishButtonComponent
    MissingQuestions=0
    Active="@(regularExam.AllQuestionsAnsweredy() ? true : false)">
</FinishButtonComponent>

<h1>Test your knowledge</h1>

@foreach (var q in regularExam.Questions)
{
    <div class="container mb-4 mt-4 p-4 b-4" style="background-color: aliceblue;">
        <h5>
            <b>
                @q.Question
            </b>
        </h5>

        @foreach (var option in q.Options)
        {
            <div @onclick="@(() => {
                q.SetAllOptionsFalse();
                q.SetOptionTrue(option.Key.ToString());
            })" style="background-color: @(option.Value.Item1 ? "lightgreen" : "white")">
                <div>
                    @option.Value.Item2
                </div>
            </div>
            <hr />
        }
    </div>
}

@code {
    [Parameter]
    public string bookId { get; set; } = "";
    RegularExam regularExam = new();
    QuestionComponent questionComponent = new();

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            Guid bookIdGuid;
            if (Guid.TryParse(bookId, out bookIdGuid))
            {
                regularExam.Questions = await GetAllQuestionsFromBookService.ExecuteAsync(bookIdGuid);
            }
            else
            {
                Nav.NavigateTo("", true);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex}");
            throw new Exception("An error occurred while processing the book. See inner exception for details.", ex);
        }

        await base.OnParametersSetAsync();
    }

    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        // Obter o estado de autenticação
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        // Verificar se o usuário está autenticado
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
        Console.WriteLine("passou aqui");

        // Redirecionar para a página de login se o usuário não estiver autenticado
        if (!isAuthenticated)
        {
            NavigationManager.NavigateTo("/pagina-de-login", true);
        }
    }
}